.App {
  text-align: center;
}

.ui.vertical.menu .item>i.icon.floated.left {
  float: left;
  margin: 0 .5em 0 0;
}

.no-margin {
  margin: 0 !important;
}

.ui.container.no-margin,
.ui.fluid.container.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#root {
  height: 100%;
}

.ui.menu .ui.dropdown .menu>.item.orange {
  color: #f2711c !important;
}

.no-radius,
.no-radius .prompt,
.no-radius > img {
  border-radius: 0 !important;
}

.orange .search.icon {
  background-color: #f2711c !important;
  color: white;
}
.no-icon .search.icon {
  display: none;
}
.no-icon .ui.icon.input>input {
  padding-right: .67857143em !important;
}

#search-plugin,
.ui.fluid.search > div.ui.icon.input {
  width: 100%
}

.ui.search > .results {
  overflow-y: auto;
  max-height: 420px;
}
